$yellow: #ffbb38;
$grey: #8e8e8e;
$black:#222222;
$white: #ffffff;
$light-pink: #ffeae5;
$wheat:#f8f8f8;
$red:red;
.bg-wheat{
     background-color: $wheat;
}
.bg-white{
     background-color: $white;
}
.bg-yellow{
     background-color: $yellow;
}