.font-600 {
     font-weight: 600;
 }
 .font-700 {
    font-weight: 700;
}
.fs-44{
    font-size: 44px;
}
.fs-9{
    font-size: 9px;
}
.border-red {
    border-color: $red;
}
.text-red {
    color: $red;
}
.border-b-2 {
    border-bottom-width: 2px;
} 
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem
}